.tripcard {
  border: 2px solid #b9bcbe;
  border-radius: 16px;         
  background: white;
  display: flex;
  flex-direction: column; 
  justify-content: center;             
  height: 100%;  
  flex-wrap: wrap;
  max-width: 17rem;
  margin-inline: auto;
  min-height: 20rem;
}

.tripcard__image {
  width: 100%;
}

.tripcard__photo {
  display: block;
  width: 100%; 
  min-height: 4rem; 
  aspect-ratio: 4 / 3;          
  background-color: #929292;
  border-radius: 16px 16px 0 0;   
  position: relative;  
  overflow: hidden;   
}

.tripcard__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




.tripcard__content {
  padding: 0.9rem;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.tripcard__title {
  font-size: 1.2rem;
  font-weight: bold;          
}

.tripcard__description {
  margin-bottom: 0.7rem;     
  line-height: 1.5;
  flex: 1;                   
}

.tripcard__stars {
  
}

.tripcard__price {
  font-size: 1.5rem;          
  font-weight: bold;
  margin: 0.9rem 0;    
}

.tripcard__actions {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: auto;
}

.tripcard__button {
  background-color: #4C9839;
  color: white;
  border: none;
  border-radius: 16px;     
  padding: 0.8rem;       
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;          
  font-weight: 600;
  margin: 0.4rem 0;  
}

.tripcard__button:hover {
  background-color: #3d7a2e;
}

.tripcard__button--cart {
  background-color: #751ae4;
}

.tripcard__button--cart:hover {
  background-color: #5a15b0;
}



@media (min-width: 64rem) {
  .tripcard {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    max-width: 1000px;
    height: 100%;
  } 

  .tripcard__image {
    width: 300px;
    align-self: stretch;
    flex-shrink: 0;
    height: 100%;
  }

  .tripcard__photo {  
    width: 300px; 
    height: 100%;
    border-radius: 16px 0 0 16px;
  }

  .tripcard__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;    
    font-size: 0.1rem;   
    justify-content: flex-start;  
    width: 100%;
    height: 100%;
    justify-self: end;
  }


  .tripcard__title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .tripcard__stars {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .tripcard__description {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }


  .tripcard__button {
    padding: 0.55rem 0.8rem;
    font-size: 1rem;
  }

  .tripcard__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .tripcard__actions {
    max-width: 13rem;
    margin-bottom: 1.5rem;

  }
}