.tripcard {
  border: 2px solid #b9bcbe;
  border-radius: 16px;         
  background: white;
  display: flex;
  flex-direction: column; 
  justify-content: center;             
  height: 100%;  
  flex-wrap: wrap;
  max-width: 17rem;
  margin-inline: auto;
  min-height: 20rem;
}

.tripcard__image {
  width: 100%;
}

.tripcard__photo {
  display: block;
  width: 100%; 
  min-height: 4rem; 
  aspect-ratio: 4 / 3;          
  background-color: #929292;
  border-radius: 16px 16px 0 0;   
  position: relative;  
  overflow: hidden;   
}

.tripcard__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}




.tripcard__content {
  padding: 0.9rem;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.tripcard__title {
  font-size: 1.2rem;
  font-weight: bold;          
}

.tripcard__description {
  margin-bottom: 0.7rem;     
  line-height: 1.5;
  flex: 1;                   
}

.tripcard__stars {
  
}

.tripcard__price {
  font-size: 1.5rem;          
  font-weight: bold;
  margin: 0.9rem 0;    
}

.tripcard__actions {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: auto;
}

.tripcard__button {
  background-color: #4C9839;
  color: white;
  border: none;
  border-radius: 16px;     
  padding: 0.8rem;       
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;          
  font-weight: 600;
  margin: 0.4rem 0;  
}

.tripcard__button:hover {
  background-color: #3d7a2e;
}

.tripcard__button--cart {
  background-color: #751ae4;
}

.tripcard__button--cart:hover {
  background-color: #5a15b0;
}
