.trips__filters {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.trips__title{

}

.trips__select {
  margin-right: 10px;
}


.trips__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 1.5rem;                           
  margin: 1.5rem 0;
}
