:root {
  --columns: 12;    
  --gap: 1rem;  
  --container-padding: 1rem;  /* Отступы по краям */
  --cards-per-row: 1;  /*на телефоне 1 карточка тура*/
}

html {
  font-size: 16px;
}


/* Контейнер для центрирования контента */
.container {
  max-width: 90rem; 
  margin: 0 auto;
  padding: 0 var(--container-padding, 1rem);
  width: 100%;
}

/* Базовая сетка */
.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
}



.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 clamp(1rem, 8vw, 8rem);
}

.home__title {
	font-size: clamp(1.5rem, 5vw, 2rem);
  /* clamp(min, preffered%, max)*/
	margin-bottom: 1rem;
	margin-top: 3rem;
	text-align: center;
}

.home__slogan {
	font-size: clamp(0.9rem, 2vw, 1.2rem);
	text-align: center;
	color: #687777;
	margin-bottom: 2rem;
}

.home__search-switch {
  margin: 0;
  width: auto; 
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.home__section {
  margin: 3rem 0; 
}

.home__section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.home__section-title {
  font-size: clamp(1rem, 2.6vw, 1.3125rem);
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
}

.arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap, 1rem);
  align-items: stretch;
}

.home__grid > * {
  grid-column: span calc(12 / var(--cards-per-row));
  /*
  На телефоне: 12 / 1 = span 12  12/12=1карточка*
  На планшете: 12 / 2 = span 6  12/6=2карточки в ряд ох*
  На десктопе: 12 / 4 = span 3  12/3=4карточки в ряд*
  */
}


/* На планшетах (768px = 48rem) */
@media (min-width: 48rem) {
  html {
    font-size: 17px;
  }
  :root {
    --gap: 1.25rem;
    --cards-per-row: 2;
  }

  .home__section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  .home__slogan {
    font-size: 1.2rem;
  }
}


/* ДЕСКТОПЫ (1024px = 64rem) */
@media (min-width: 64rem) { 
  :root {
    --cards-per-row: 3;
  }

  .home__slogan {
    font-size: 1.3rem;
  }
}





/* БОЛЬШИЕ ЭКРАНЫ (1440px = 90rem) */
@media (min-width: 90rem) { 
  html {
    font-size: 18px;
  }
  :root {
    --gap: 1.5rem;  
    --cards-per-row: 4;
  }
}



