header {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #751AE4;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #751AE4;
}