

.avia-classes { /*обертка для 3х классов*/
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
    background-color: transparent;               
    height: 100%;    
    overflow: hidden;
    min-width: 70%;
    margin-inline: auto;
    min-height: 10rem;
    padding: 0;
    min-height: 6rem;
}


.avia-class-card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  flex: 1;
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  width: 33%;

}

.avia-class-card-econom {
  border-top: 4px solid #78bbdc;
}

.avia-class-card-comfort {
  border-top: 4px solid #5182eb;
}

.avia-class-card-business {
  border-top: 4px solid #260ce7;
}


.avia-class-card:hover {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.125rem);
}

.avia-class-card__header {      
  margin: 0.55rem 0; 
}

.avia-class-card__name {
  margin-top: 0.3rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.6rem;
  font-size: clamp(0.8rem, 0.95rem + 0.18vw, 1.1rem);
}

.avia-class-card__details { 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avia-class-card__seats {
  font-weight: 400;
  font-size: clamp(0.65rem, 0.75rem + 0.2vw, 0.9rem);}

.avia-class-card__price {
  font-size: clamp(0.8rem, 0.95rem + 0.18vw, 1.1rem);
  font-weight: 700;    
  margin-bottom: 0;
}